body {
    background: rgb(235, 233, 236);
    text-align: center;
    color: rgb(126, 81, 138);
    font-family:'Courier New', Courier, monospace;
}

nav {
    color: rgb(126, 81, 138);
    font: 56px 'Courier New', Courier, monospace,'bold';
    padding: 10px;
}

h2 {
    color: rgb(126, 81, 138);
    font: 32px 'Courier New', Courier, monospace ;
    text-decoration: underline double 1px;
}

table {
    padding-left: 20%;
    text-align: left;
    width: 80%;
}

thead {
    font-size: 14px;
    text-decoration: underline double 1px;
    color: rgb(191, 176, 206);
    text-align: left;
}

tbody {
    font-size: 20px;  
}

label {
    font-size: 14px;
    display: block;
    text-align: center;
    padding: 5px;
}

#submit-btn {
    color: rgb(126, 81, 138);
    font-family:'Courier New', Courier, monospace;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    display: block;
}

#name:hover {
    background-color: rgb(213, 176, 223);
    opacity: 80%;
}

#comments {
    height: 50px;
}

#comments:hover {
    background-color: rgb(213, 176, 223);
    opacity: 80%;
}


#submit-btn:hover {
    background-color: rgb(213, 176, 223);
    opacity: 80%;
}

#meal {
    opacity: 80%;
    color: rgb(126, 81, 138);
    width: 20%;
}

.menu {
    background-color: rgb(237, 223, 243);
     border: double rgb(126, 81, 138) 4px;
     border-radius: 5px;
     margin: 50px;
     padding-bottom: 30px;
}

.review {
    background-color: rgb(237, 223, 243);
     border:  double rgb(126, 81, 138) 4px;
     border-radius: 5px;
     margin: 50px;
     padding-bottom: 30px;
}

.contact {
    background-color: rgb(237, 223, 243);
    border:  double rgb(126, 81, 138) 4px;
    border-radius: 5px;
    margin: 50px; 
    padding-bottom: 30px;
}

a {
    color:rgb(149, 91, 199);
    text-decoration: none;
}

a:hover {
    opacity: 80%;
    background-color: rgb(213, 176, 223);
}

img {
    height: 100px;
}

option {
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(213, 176, 223);
    opacity: 80%;
}

.meal{
    font-family:'Courier New', Courier, monospace;
}
